@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Manage" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "nav-item active" : "nav-item")">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "nav-link" })
    </li>
    <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log out</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "Register" ? "nav-item active" : "nav-item")">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
        </li>
        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "Login" ? "nav-item active" : "nav-item")">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </li>
    </ul>
}
